@{
    ViewData["Title"] = "Bus Locations";
}

<h1 class="main-title">
    Realtime location for Sydney buses and trains
</h1>
<br />
<form action="@Url.Action("Index")" method="get" id="main-form">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-text input-group-header form-headers">
                    Route ID
                </span>
            </div>
            <input class="form-control" id="route" name="route" type="text" placeholder="Input your bus/train route ID e.g. 400, T2" required />
            <div class="input-group-addon">
                <button class="btn btn-outline-secondary" type="submit"><img src="~/images/lookup.svg" style="height:20px;" /></button>
            </div>
        </div>
    </div>
</form>
<div id="loading" class="hidden">Retrieving your route...</div>
<div id="directionForm" class="hidden">
    <label for="directionOptions" class="form-headers">Directions:</label>
    <div class="form-group" id="directionOptions"></div>
</div>
<div id="prompt" class="hidden form-headers"></div>
<div id="map" class="hidden map-layout">
</div>
<button class="btn btn-outline-success hidden" type="button" id="btn-traffic">Traffic On/Off</button>
<script>
    function initMap() { }
    var tripUrl = '@Url.Action("Route")';
    var locUrl = '@Url.Action("Location")';
    var stopUrl = '@Url.Action("Stop")';
    var occupancyStatus = [
        @for(int i=0; i<  OpalLocation.Operations.TripData.vehicleStatus.Length; i++)
        {
            var str = "'" + OpalLocation.Operations.TripData.vehicleStatus[i] + "'";
            if (i != OpalLocation.Operations.TripData.vehicleStatus.Length - 1)
            {
                str += ",";
            }
            @Html.Raw(str);
        }
    ];
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.key&callback=initMap" 
        type="text/javascript" defer></script>
<script src="~/js/site_v4.min.js" defer></script>
